# --- BACKEND ---
backend/.venv/
backend/venv/
backend/env/
backend/__pycache__/
backend/*.pyc

# --- FRONTEND (Tu carpeta 'front') ---
front/node_modules/
front/.angular/
front/dist/

# --- GENERAL ---
.vscode/
.DS_Store
*.env